/*
* @Author: Administrator
* @Date:   2018-08-09 13:03:55
* @Last Modified by:   Administrator
* @Last Modified time: 2018-08-09 13:05:08
*/
*{
	margin: 0px;
	padding: 0px;
    list-style: none;
   
}
a{
	text-decoration: none;
}
i{
  font-style: normal;
}