/*
* @Author: Administrator
* @Date:   2018-08-09 13:01:10
* @Last Modified by:   Administrator
* @Last Modified time: 2018-08-16 23:46:13
*/
*{
	margin: 0;
	padding: 0;
}
.head{
     width: 7.5rem;
     height: 23rem;
     background-image: url('../img/chengg.png');
     background-size: 7.5rem 100%;
     
     position: relative;
 }
.head .box-1{
	width: 2.37rem;
	height: 0.9rem;
	position: absolute;
	top: 10.6rem;
	left: 0.7rem;
	
}
.head .box-2{
	width: 2.37rem;
	height: 0.9rem;
	position: absolute;
	top: 10.6rem;
	left: 4.5rem;

}




